@font-face {
  font-family: "TT Lakes Regular";
  src: url("./fonts/TTLakes-Regular.eot");
  src:
    url("./fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TT Lakes Regular", sans-serif;
  overflow: auto;
}
body {
  background-color: #f8f8f8;
}
.tab {
  display: none;
}
.desk {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 18px;
  border-bottom: 0.87px solid #41f6d7;
}
.write-side,
.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}
.write-side img {
  padding: 8px;
}
.left-side img {
  padding: 8px;
}
main {
  background-color:;
}
h1 {
  display: flex;
  align-item: center;
  padding: 18px 0px;
  gap: 18px;
}
.ul {
  display: flex;
  align-item: center;
  background-color: #f8f8f8;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 5px;
  margin: 0px 18px;
}
div.ul::-webkit-scrollbar {
  display: none;
}
.ul div {
  flex-shrink: 0;
  padding: 8px;
}
div.ul div:hover {
  border: 2px solid #41f6d7;
  background-color: white;
}
h3 {
  display: none;
}
p {
  margin: 10px;
}
.b__1 {
  display: none;
  margin: 18px;
}
.b {
  display: none;
  margin: 18px;
}
.c {
  display: flex;
  align-item: center;
}
.a {
  margin: 18px;
}
.desk-icon {
  display: none;
}

/* .foto {
  display: flex;
  align-item: center;
  justify-content: space-between;
} */
.foto > img {
  width: 100%;
}
.text img {
}

@media (min-width: 768px) {
  .tab {
    display: block;
  }

  header div {
    display: flex;
    justify-content: space-between;
  }
  .b__1 {
    display: block;
  }
  .foto {
    display: flex;
    align-item: center;
    gap: 16px;
  }
  .foto > img {
    width: 50%;
  }
  .text {
    width: 50%;
  }
}
@media (min-width: 1120px) {
  .desk-slide {
    display: block;
  }
  header {
    display: none;
  }
  .text .b {
    display: block;
  }
  .desk-icon {
    display: flex;
    align-item: center;
    justify-content: space-between;
    gap: 30px;
  }
  .desk {
    display: block;
    white-space: nowrap;
    flex-shrink: 0;
    overflow: hidden;
    padding: 18px;
  }
  .top-side {
    display: flex;
    align-item: center;
    justify-content: space-between;
    padding-right: 24px;
  }
  .desk-icon__1,
  .desk-icon__2 {
    display: flex;
    align-item: center;
    justify-content: space-between;
  }
  .foto > img {
    width: 50%;
  }
}
